.intro__text {
  max-width: 690px;
  margin: 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
}

@media screen and (max-width: 1023px) {
  .intro__text {
    margin-top: 40px;
    min-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .intro__text {
    margin-top: 40px;
  }
}
