.place__website {
  max-width: 456px;
  grid-row: 1;
  grid-column: 2;
  justify-self: start;
  align-self: end;
}

@media screen and (max-width: 767px) {
  .place__website {
    align-self: start;
    margin-left: 16px;
  }
}
